.card {
    --card-spacing-x: 1.125rem;
    --card-spacing-y: 0.875rem;

    display: flex;
    flex-direction: column;
    gap: var(--card-spacing-y);
    overflow: hidden;
    padding-block: var(--card-spacing-y);
    border: 2px solid var(--border);
    border-radius: calc(var(--radius) + 0.25rem);
    background: var(--card);
    box-shadow: var(--shadow);
    color: var(--card-foreground);
    font-size: 0.875rem;
}

.card[data-size='sm'] {
    --card-spacing-x: 0.75rem;
    --card-spacing-y: 0.75rem;
}

.card:has(> [data-slot='card-footer']) {
    padding-bottom: 0;
}

.card:has(> img:first-child) {
    padding-top: 0;
}

.card > img:first-child {
    border-radius: calc(var(--radius) + 0.25rem) calc(var(--radius) + 0.25rem) 0 0;
}

.card > img:last-child {
    border-radius: 0 0 calc(var(--radius) + 0.25rem) calc(var(--radius) + 0.25rem);
}

.header {
    display: grid;
    grid-auto-rows: min-content;
    align-items: start;
    gap: 0.25rem;
    padding-inline: var(--card-spacing-x);
    border-radius: calc(var(--radius) + 0.25rem) calc(var(--radius) + 0.25rem) 0 0;
}

.header:has([data-slot='card-action']) {
    grid-template-columns: 1fr auto;
}

.header:has([data-slot='card-description']) {
    grid-template-rows: auto auto;
}

.title {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.375;
}

.card[data-size='sm'] .title {
    font-size: 0.875rem;
}

.description {
    color: var(--muted-foreground);
    font-size: 0.875rem;
}

.action {
    grid-column-start: 2;
    grid-row: 1 / span 2;
    align-self: start;
    justify-self: end;
}

.content {
    padding-inline: var(--card-spacing-x);
}

.footer {
    display: flex;
    align-items: center;
    padding: var(--card-spacing-y) var(--card-spacing-x);
    border-top: 2px solid var(--border);
    border-radius: 0 0 var(--radius) var(--radius);
    background: var(--secondary);
}
